<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第一种：下标赋值-->
    <!--<bean id="user" class="com.locke.pojo.User">
        <constructor-arg index="0" value="狂神说 Java"/>
    </bean>-->

    <!--第三种：直接通过参数名-->
    <bean id="user" class="com.locke.pojo.User">
        <constructor-arg name="name" value="狂神说 Java"/>
    </bean>
    <alias name="user" alias="user_alias"/>
</beans>